@import "mixin";
@import "breakpoints";

.first-step-wrapper {
  text-align: center;
  max-width: 550px;
  margin: auto;
  background-image: url(../assets/images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  @include sm {
    background-size: 250px;
  }
  .rock-paper-scissors-wrapper {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
    @include sm {
      gap: 2rem;
    }

    img {
      width: 60px;
      @include sm {
        width: 40px;
      }
    }

    .rock {
      background-color: #fff;
      width: 170px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 20px solid hsl(349, 71%, 52%);
      border-radius: 50%;
      cursor: pointer;
      margin-bottom: 5rem;
      box-shadow: inset 0px 6px 0 2px rgba(0, 0, 0, 0.2);
      @include sm {
        width: 125px;
        height: 125px;
        border: 15px solid hsl(349, 71%, 52%);
        box-shadow: inset 0px 2px 0 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 0;
      }
    }
    .paper {
      background-color: #fff;
      width: 170px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 20px solid hsl(230, 89%, 62%);
      border-radius: 50%;
      cursor: pointer;
      box-shadow: inset 0px 6px 0 2px rgba(0, 0, 0, 0.2);
      @include sm {
        width: 125px;
        height: 125px;
        border: 15px solid hsl(230, 89%, 62%);
        box-shadow: inset 0px 2px 0 2px rgba(0, 0, 0, 0.2);
      }
    }
    .scissors {
      background-color: #fff;
      width: 170px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 20px solid hsl(39, 89%, 49%);
      border-radius: 50%;
      cursor: pointer;
      box-shadow: inset 0px 6px 0 2px rgba(0, 0, 0, 0.2);
      @include sm {
        width: 125px;
        height: 125px;
        border: 15px solid hsl(39, 89%, 49%);
        box-shadow: inset 0px 2px 0 2px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

/*second steps*/

.flex-container {
  display: flex;
  justify-content: space-between;
  @include md {
    padding: 0 30px;
  }
  @include sm {
    flex-wrap: wrap;
    gap: 1rem;
  }

  img {
    width: 90px;
    @include sm {
      width: 40px;
    }
  }

  .your-hand {
    text-align: center;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    transform: translateX(150px);
    @include sm {
      order: 1;
      flex-basis: unset;
      margin-bottom: 0;
      transform: translateX(0);
    }
    .heading {
      margin-bottom: 3rem;
      font-size: 23px;
      letter-spacing: 5px;
      @include sm {
        order: 2;
        font-size: 16px;
        margin-top: 1rem;
        letter-spacing: 1px;
      }
    }
    .your-selected-hand {
      border-radius: 50%;
      @include sm {
        order: 1;
      }
    }
  }

  .rock {
    background-color: #fff;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 25px solid hsl(349, 71%, 52%);
    border-radius: 50%;
    z-index: 10;
    position: relative;
    box-shadow: inset 0px 6px 0 2px rgba(0, 0, 0, 0.2);
    @include sm {
      width: 120px;
      height: 120px;
      border: 15px solid hsl(349, 71%, 52%);
      box-shadow: inset 0px 2px 0 2px rgba(0, 0, 0, 0.2);
    }
  }
  .paper {
    background-color: #fff;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 25px solid hsl(230, 89%, 62%);
    border-radius: 50%;
    z-index: 10;
    position: relative;
    box-shadow: inset 0px 6px 0 2px rgba(0, 0, 0, 0.2);
    @include sm {
      width: 120px;
      height: 120px;
      border: 15px solid hsl(230, 89%, 62%);
      box-shadow: inset 0px 2px 0 2px rgba(0, 0, 0, 0.2);
    }
  }
  .scissors {
    background-color: #fff;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 25px solid hsl(39, 89%, 49%);
    border-radius: 50%;
    position: relative;
    z-index: 10;
    box-shadow: inset 0px 6px 0 2px rgba(0, 0, 0, 0.2);
    @include sm {
      width: 120px;
      height: 120px;
      border: 15px solid hsl(39, 89%, 49%);
      box-shadow: inset 0px 2px 0 2px rgba(0, 0, 0, 0.2);
    }
  }

  .winner-effect {
    box-shadow: 0 0 0 60px hsl(0deg 0% 100% / 5%),
      0 0 0 130px hsl(0deg 0% 100% / 5%), 0 0 0 200px hsl(0deg 0% 100% / 5%);
    transition: 0.5s;
    @include sm {
      box-shadow: 0 0 0 20px hsl(0deg 0% 100% / 5%),
        0 0 0 40px hsl(0deg 0% 100% / 5%), 0 0 0 70px hsl(0deg 0% 100% / 5%);
    }
  }

  .resut-play-again {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
    @include sm {
      order: 3;
      flex-basis: unset;
      margin: auto;
      margin-top: -1.5rem;
    }

    div {
      font-size: 55px;
      margin-bottom: 15px;
    }
    button {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      font-size: 18px;
      letter-spacing: 2px;
      color: hsl(229, 25%, 31%);
      @include sm {
        width: 200px;
      }
      &:hover {
        color: hsl(349, 71%, 52%);
      }
    }
  }

  .show {
    display: flex;
    transition: 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
  }

  .do-not-show {
    visibility: hidden;
    opacity: 0;
  }

  .opponent-hand {
    position: relative;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    transform: translateX(-150px);
    @include sm {
      order: 2;
      flex-basis: unset;
      margin-bottom: 0;
      transform: translateX(0);
    }

    .heading {
      margin-bottom: 3rem;
      font-size: 23px;
      letter-spacing: 5px;
      @include sm {
        order: 2;
        font-size: 16px;
        margin-top: 1rem;
        letter-spacing: 1px;
        position: relative;
      }
    }

    .heading-relative {
      @include md {
        position: relative;
        bottom: -6.3rem;
      }
    }

    .opponent-selected-hand {
      border-radius: 50%;
      @include sm {
        order: 1;
      }
    }

    .dark-circle {
      width: 220px;
      height: 220px;
      background-color: rgb(0, 0, 0, 0.2);
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      margin: auto;
      @include sm {
        width: 100px;
        height: 100px;
        bottom: unset;
        top: 0;
      }
    }
  }
  .no-translate {
    transform: translateX(0);
    transition: 0.3s ease-in-out;
  }
}
